// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-testpolice {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: 0px;
    background-color: #0f0f0f;
    font-family: sans-serif;
}

nav  a {
    text-decoration: none;
    color: #ffffff;
    background: #181818; 
    padding: 15px;
    font-family: Arial; 
    font-size: 15px; 
    transition: .5s; 
    margin: 5px;
    bottom: 0;
}
nav  a:hover {
    background: #979797;
}
nav {
    position: sticky;
    top: 0;
    margin: 0px;
    width: 100%;
    background: #181818;
    display: flex;
    justify-content: flex-end;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);;
}

h1 {
    text-align: center;
    color: #09aad3;
}

h2 {
    text-align: center;
    color: #ffffff;
}

img {
    border-radius: 2%;
    border: #ffffff;
    border-style: solid;
}

p{
    color: #fff;
    font-size: larger;
}

hr{
    border-bottom: solid aqua; 
    border-top: #000000;
    margin-bottom: 25px;
}

.ImagesProjets {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap : 40px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.TexteAccueuil {
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.PresProj {
    display: flex;
    flex-direction: column;
    border: solid;
    border: #fff;
    border-style: solid;
    border-radius: 2%;
}


.ListCompProj{
    display: flex;
    flex-direction: row;
    gap : 30px;
    padding-left: 30px;
}
